.custom-button {
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  overflow: hidden; 
  color: transparent;
  font-size: 16px;
  width: 120px;
  padding-right: 15px;
  height: 50px;
}

.custom-button::before {
  content: 'MORE  →';
  position: absolute;
  top: 36%;
  font-size: 16px;
  z-index: 9;
  color: #000; 
}

.custom-button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0; 
  height: 100%; 
  background: black; 
  transition: width 0.2s ease; 
}

.custom-button:hover::after {width: 100%; }

.custom-button:hover::before {color: white;}
