/* 공통스타일 */
.header{
  position: fixed;
  z-index: 999999;
  box-shadow: 0 1px 10px rgba(115, 115, 115, 0.823);
  width: 100%;background-color: #fff;
  top: 0;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  
}
/* 데스크톱 네비게이션 */
.desktop-nav{}
.desktop-nav .main-menu{display: flex;}
.desktop-nav .main-menu > li{
  position: relative;
}
.desktop-nav .main-menu > li > a{
  display: inline-block;
  padding: 5px 20px;
}
.desktop-nav .main-menu li .sub-menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  display: none;
  box-shadow: 0 4px 10px rgba(115, 115, 115, 0.823);
  background: #fff;
}
.desktop-nav .main-menu > li:hover .sub-menu{display: block;} /* 서브 보여주기 */
.desktop-nav .main-menu .sub-menu > li {display: block; }
.desktop-nav .main-menu .sub-menu > li > a{
  font-size: 14px; padding: 5px; padding-left: 15px;
  display: block;
}
.desktop-nav .main-menu .sub-menu > li:hover > a{color:rgb(233, 134, 21)}
.desktop-icons{display: flex; gap: 10px;}
/* 모바일 네비게이션 */
.mobile-nav{
  position: absolute;
  background-color: rgb(237, 237, 237);
  width: 100%;
  top: 100%;
  left: 0;
  text-align: center;
  z-index: 999;
  padding: 10px;
  display: none;
}
/* .mobile-nav .open추가 */
.mobile-nav.open{
  display: block;
}
.mobile-nav .main-menu{}
.mobile-nav .sub-menu{display: none;}
/* .sub-menu.visible추가 */
.mobile-nav .sub-menu.visible{display: block;}
/* 장바구니 카운트 */
.cart.icon{position: relative; padding: 0 5px;}
.cart-count{
  position: absolute; right: -12px; top: -10px; background-color: red; color: #fff; width: 20px; height: 20px; font-size: 10px; border-radius: 50%; display: inline-block; text-align: center; line-height: 18px;
}

/* #######반응형####### */

@media screen and (max-width:768px) {
  .desktop-nav{display: none;}
  .desktop-icons{display: none;}
}