/* Paperlogy 폰트 패밀리 정의 */
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-1Thin.ttf') format('truetype');
  font-weight: 100;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-5Medium.ttf') format('truetype');
  font-weight: 500;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-7Bold.ttf') format('truetype');
  font-weight: 700;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-size: normal;
}
@font-face {
  font-family: 'Paperlogy';
  src: url('../../public/assets/fonts/Paperlogy-9Black.ttf') format('truetype');
  font-weight: 900;
  font-size: normal;
}

*, body{
  font-family: 'Paperlogy';
  font-weight: 400;
  box-sizing: border-box;
  
}
/* common css */
.inner{
  max-width: 1200px;
  margin: auto;
  padding: 15px 0;
}